* {
    direction: ltr;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-image: url(sea.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 40%;
    margin: auto;
    position: relative;
}

.arrows{
     position: absolute; 
     background-color: rgba(50, 50, 50, .3);
     font-size: 25px;
     top: 50%;
     padding: 20px;
     color: white;
     cursor: pointer;
}

div#arrowin {
  
    
   
    left: 15px;
}




#arowinright {
   
    right: 15px;
}



#pageNo {
    position: absolute;
    background-color: rgba(50, 50, 50, .3);
    padding: 13px;
    color: white;
}

#arowinright:hover {
    background-color: rgba(50, 50, 50, .5);

}

#arrowin:hover {
    background-color: rgba(50, 50, 50, .5);
}

#caption {
    position: absolute;
    bottom: 20px;
    width: 100%;
    color: rgb(219, 219, 219);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}



section>span {
    background-color: rgb(53, 54, 54);
    border-radius: 50%;
    padding: 10px;
    width: 15px;
    height: 15px;
    display: inline-block;
   
   
   
}
#circle2{
   
}
#circle3{
    background-color: #bbb;
}
footer section{
    margin: 15px auto;
    width: 15%;
}